<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout/default">
<head>
    <title>菜单</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


            <h1 class="page-header">Dashboard</h1>
            <h2 class="sub-header">Section title</h2>
            <!--代码-->
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li><a href="#">我的书</a></li>
                <li class="active">《图解CSS3》</li>
            </ol>
            <p><a class="btn btn-lg btn-primary" href="###" role="button">btn-primary &raquo;</a></p>
            <p><a class="btn btn-lg btn-primary active" href="###" role="button">已激活 &raquo;</a></p>
            <p><a class="btn btn-lg btn-success" href="###" role="button">btn-success</a></p>
            <p><a class="btn btn-sm btn-info" href="###" role="button">btn-info</a></p>
            <p><a class="btn btn-sm btn-info disabled" href="###" role="button">已禁用</a></p>
            <p><a class="btn btn-sm btn-warning" href="###" role="button">btn-warning</a></p>
            <p><a class="btn btn-sm btn-danger" href="###" role="button">btn-danger</a></p>
            <p><a class="btn btn-sm btn-link" href="###" role="button">btn-link</a></p>

            <div class="btn-group">
                <button type="button" class="btn btn-primary">原始</button>
                <button type="button" class="btn btn-primary dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">切换下拉菜单</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">功能</a></li>
                    <li><a href="#">另一个功能</a></li>
                    <li><a href="#">其他</a></li>
                    <li class="divider"></li>
                    <li><a href="#">分离的链接</a></li>
                </ul>
            </div>

            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default
                     dropdown-toggle" data-toggle="dropdown">
                            下拉菜单
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#">功能</a></li>
                            <li><a href="#">另一个功能</a></li>
                            <li><a href="#">其他</a></li>
                            <li class="divider"></li>
                            <li><a href="#">分离的链接</a></li>
                        </ul>
                    </div><!-- /btn-group -->
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->

            <p>标签式的导航菜单</p>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">SVN</a></li>
                <li><a href="#">iOS</a></li>
                <li class="disabled"><a href="#">VB.Net(已禁用)</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Java <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Swing</a></li>
                        <li><a href="#">jMeter</a></li>
                        <li><a href="#">EJB</a></li>
                        <li class="divider"></li>
                        <li><a href="#">分离的链接</a></li>
                    </ul>
                </li>
                <li><a href="#">PHP</a></li>
            </ul>

            <ul class="pagination pagination-sm">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">Previous</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Next</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>

            <span class="label label-default">默认标签</span>
            <span class="label label-primary">主要标签</span>
            <span class="label label-success">成功标签</span>
            <span class="label label-info">信息标签</span>
            <span class="label label-warning">警告标签</span>
            <span class="label label-danger">危险标签</span>

            <h4>胶囊式导航中的激活状态</h4>
            <ul class="nav nav-pills">
                <li class="active"><a href="#">首页 <span class="badge">42</span></a></li>
                <li><a href="#">简介</a></li>
                <li><a href="#">消息 <span class="badge">3</span></a></li>
            </ul>
            <br>
            <h4>列表导航中的激活状态</h4>
            <ul class="nav nav-pills nav-stacked" style="max-width: 260px;">
                <li>
                    <a href="#">
                        <span class="badge pull-right">42</span>
                        首页
                    </a>
                </li>
                <li><a href="#">简介</a></li>
                <li>
                    <a href="#">
                        <span class="badge pull-right">3</span>
                        消息
                    </a>
                </li>
            </ul>

            <div>
                <div class="thumbnail" style="border: 0px solid #ddd;">
                    <img src="/plugins/bootstrap-3.3.7/apple-touch-icon.png"
                         alt="通用的占位符缩略图">
                </div>
                <div class="caption">
                    <h3>缩略图标签</h3>
                    <p>一些示例文本。一些示例文本。</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">
                            按钮
                        </a>
                        <a href="#" class="btn btn-default" role="button">
                            按钮
                        </a>
                    </p>
                </div>
            </div>

            <!--警告-->
            <div>
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-hidden="true">
                        &times;
                    </button>
                    成功！很好地完成了提交。
                </div>
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-hidden="true">
                        &times;
                    </button>
                    信息！请注意这个信息。
                </div>
                <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-hidden="true">
                        &times;
                    </button>
                    警告！请不要提交。
                </div>
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-hidden="true">
                        &times;
                    </button>
                    错误！请进行一些更改。
                </div>
            </div>

            <!--动画进度条-->
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="width: 40%;">
                    <span class="sr-only">40% 完成</span>
                </div>
            </div>

            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="/plugins/bootstrap-3.3.7/favicon.ico"
                             alt="通用的占位符图像">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">小常</h4>
                        <p>又出去浪啦？</p>
                        <!-- 嵌套的媒体对象 -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/plugins/bootstrap-3.3.7/favicon.ico"
                                     alt="通用的占位符图像">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">小张</h4>
                                对啊！！
                                <!-- 嵌套的媒体对象 -->
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" src="/plugins/bootstrap-3.3.7/favicon.ico"
                                             alt="通用的占位符图像">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">小常</h4>
                                        可以的！！
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 嵌套的媒体对象 -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/plugins/bootstrap-3.3.7/favicon.ico"
                                     alt="通用的占位符图像">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">小李</h4>
                                你怎么没去？？
                            </div>
                        </div>
                    </div>
                </li>
                <li class="media">
                    <a class="pull-right" href="#">
                        <img class="media-object" src="/plugins/bootstrap-3.3.7/favicon.ico"
                             alt="通用的占位符图像">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">刘总</h4>
                        玩的好嗨！！
                    </div>
                </li>
            </ul>

            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">
                        入门网站包
                    </h4>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">
                        免费域名注册
                    </h4>
                    <p class="list-group-item-text">
                        您将通过网页进行免费域名注册。
                    </p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">
                        24*7 支持
                    </h4>
                    <p class="list-group-item-text">
                        我们提供 24*7 支持。
                    </p>
                </a>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">面板标题</h3>
                </div>
                <div class="panel-body">
                    这是一个基本的面板
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">面板标题</h3>
                </div>
                <div class="panel-body">
                    这是一个带表格的面板
                </div>
                <table class="table">
                    <th>产品</th><th>价格 </th>
                    <tr><td>产品 A</td><td>200</td></tr>
                    <tr><td>产品 B</td><td>400</td></tr>
                </table>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">面板标题</div>
                <table class="table">
                    <th>产品</th><th>价格 </th>
                    <tr><td>产品 A</td><td>200</td></tr>
                    <tr><td>产品 B</td><td>400</td></tr>
                </table>
            </div>

            <div class="well">您好，我在 Well 中！</div>

        </div>
    </section>
</body>
</html>