<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout/default">
<head>
    <title>菜单</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


            <h1 class="page-header">Dashboard</h1>
            <h2 class="sub-header">Section title</h2>
            <!--代码-->
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li><a href="#">我的书</a></li>
                <li class="active">《图解CSS3》</li>
            </ol>
            <p>
                <a class="btn btn-lg btn-primary" href="###" role="button">View navbar docs &raquo;</a>
            </p>
            <p><a class="btn btn-lg btn-success" href="###" role="button">Get started today</a></p>
        </div>
    </section>
</body>
</html>