<aside layout:fragment="sidebar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="/redirect/demoCase1">demoCase1</a></li>
                    <li><a href="/redirect/demoCase2">demoCase2</a></li>
                    <li><a href="/redirect/demoCase3">demoCase3</a></li>
                    <li><a href="/redirect/demoCase4">demoCase4</a></li>
                    <li class="collapse">
                        <a data-toggle="collapse" href="#collapse2">习惯养成<i class="caret" style="margin-left:8.3vw;"></i></a>
                        <div id="collapse2" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item">跑步</li>
                            </ul>
                        </div>
                    </li>
                    <li class="collapse">
                        <a data-toggle="collapse" href="#collapse1">Java<i class="caret" style="margin-left:10vw;"></i></a>
                        <div id="collapse1" class="panel-collapse collapse">
                            <ul class="list-group sub-menu-back-color">
                                <li class="list-group-item">One</li>
                                <li class="list-group-item">Two</li>
                                <li class="list-group-item">Three</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="#">Nav item</a></li>
                    <li><a href="#">Nav item again</a></li>
                    <li><a href="#">One more nav</a></li>
                    <li><a href="#">Another nav item</a></li>
                    <li><a href="#">More navigation</a></li>
                </ul>
            </div>
            <section id="content" layout:fragment="content"></section>
        </div>
    </div>
</aside>