<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Hello World!</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />
</head>
<body>

<table>
    <thead>
    <tr>
        <th th:text="'用户名'">Name</th>
        <th th:text="'邮箱'">E-mail</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
    </tr>
    </tbody>
</table>

<div th:insert="~{footer::copy}">&copy; 2017 mnan2c-fin-home</div>
</body>
</html>